section {
  width: 100%;
  padding: 10px;
  min-height: calc(100vh - 80px);
}

section .form_data {
  max-width: 550px;
  margin: 25px auto;
  padding: 35px 10px;
  box-shadow: 0 0 15px -10px #2d3748;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_data h1 {
  font-size: 34px;
  color: #2a4365;
}

.form_data p {
  color: #718096;
  font-size: 15px;
  margin-top: 9px;
}

.form_data form {
  margin-top: 45px;
  width: 100%;
  padding: 10px 50px;
}

.form_data form .form_input input {
  width: 100%;
  padding: 11px;
  border: 1px solid #d4d0d0;
  border-radius: 5px;
  outline: none;
  margin-bottom: 14px;
  margin-top: 9px;
  font-size: 14px;
}

.form_data form .form_input label {
  font-weight: 600;
  font-size: 15px;
}

.form_input .two {
  display: flex;
  align-items: center;
  position: relative;
}

.form_data form .form_input input:focus {
  border: 2px solid rgba(66, 153, 225, 0.6);
}

.form_data form .form_input input::placeholder {
  color: #8694a8;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.form_input .showpass {
  position: absolute;
  right: 0;
  top: 1px;
  padding: 7px 10px;
  margin-right: 5px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #2a4365;
  background-color: #edf2f7;
  border-radius: 5px;
  cursor: pointer;
}

form .btn {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #1a365d;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

form .btn:hover {
  background-color: #97a1b1;
}

.form_data form p {
  text-align: center;
  margin-top: 20px;
}

.form_data form a {
  text-decoration: none;
  color: #718096;
  border-bottom: 2px solid #8694a8;
}
.innerdiv {
  /* border: 1px solid rgb(210, 210, 210); */
  /* border-radius: 3%; */
  height: 40%;
  /* width: 50%; */
  margin-top: -8%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {
    background: #ecf0f3;
} */

.wrapper {
  max-width: 500px;
  min-height: 300px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  /* background-color: #ecf0f3; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; */
}

.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 5px;
  color: #555;
  text-align: left;
  text-transform: capitalize;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper .form-field {
  /* text-align: right; */
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f6f7fa;
  /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #cbced1; */
}

.wrapper .form-field .fas {
  color: #555;
}

.wrapper .btn {
  box-shadow: none;
  width: 100%;
  height: 51px;
  background-color: #ab0adc;
  color: #fff;
  border-radius: 10px;
  /* box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff; */
  letter-spacing: 1.3px;
}

.wrapper .btn:hover {
  background-color: #ab0adc;
}

.wrapper a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #110336;
}

.wrapper a:hover {
  color: #110336;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}
.user1 {
  font-size: 120%;
  font-weight: bold;
  color: black;
  padding: 40px 70px 15px 15px;
  text-align: right;
  /* margin-right: 20%; */
  /* margin-right: -50%; */
}
.user2 {
  background-color: #e40707;
  color: white;
  padding: 3% 4%;
  box-shadow: none;
  width: 150%;
  height: 40px;
  background-color: #e40707;
  color: #fff;
  border-radius: 25px;
  /* box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff; */
  letter-spacing: 1.3px;
}
.p-3 {
  padding: 0rem !important;
}
.fa-user {
  margin-right: 2%;
}

.user2:hover {
  background-color: #e40707;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  color: #fff;
}
.nav1-user-icon {
  /* font-size: 10%; */
  margin-left: 20%;
  /* margin-top: -6%; */
  width: 10%;
}

.logo {
  width: 80px;
  margin-left: 10%;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}
